* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
}

.stamp-cutter {
  position: absolute;
  z-index: 100;
  width: 250px;

  img {
    width: inherit;
  }

  .cutter-area {
    background-color: #ff7f7fae;
    width: 29.5%;
    height: 21.3%;
    position: absolute;
    top: 19%;
    left: 35.487%;
  }
}

.image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://media.tenor.com/lcehRTIw1_8AAAAe/excited-fuego.png');
}
